@using ManHuaAdmin.Models;
@{
    ViewBag.Title = "AddView";
    List<Tab_GongZhongHao> glist = ViewBag.glist;
}

<div class="pageContent">
    <form method="post" action="@Url.Content("~/Sale/Add")" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
        <div class="pageFormContent" layoutH="56">
            <p>
                <label>公众号名称：</label>
                <select id="gid" name="gid" style="width:180px" onchange="s1(this.value)">
                    <option value="0">请选择</option>
                    @foreach (var item in glist)
                    {
                        <option value="@item.F_Id">@item.F_GZHName</option>
                    }
                </select>
            </p>
            <p>
                <label>漫画名称：</label>
                <select id="mhid" name="mhid" style="width:180px">
                    <option value="0">请选择</option>
                </select>
            </p>
            <p>
                <label>收费类型：</label>
                <select id="st" name="st" style="width:180px" onchange="s2(this.value)">
                    <option value="0">请选择</option>
                    <option value="1">章节</option>
                    <option value="2">时间</option>
                </select>
            </p>
            <p>
                <label>收费方式：</label>
                <select id="sid" name="sid" style="width:180px">
                    <option value="0">请选择</option>
                </select>
            </p>
            <p>
                <label>收费价格(单位元)：</label>
                <input name="price" class="required digits" type="text" size="30" min="1" max="1000" />
            </p>
        </div>
        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div>
                </li>
                <li>
                    <div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
                </li>
            </ul>
        </div>
    </form>
</div>
<script>
    function s1(id) {
        $.ajax({
            type: 'post',
            url: '/Sale/Get?t=1&i=' + id,
            data: { t: 1, i: id },
            error: function () {
                alert('error');
            },
            success: function (result) {
                var target = $("#mhid");
                target.empty();
                target.append('<option value="0">请选择</option>');
                if (result.length > 0) {
                    $.each(result, function (key, val) {
                        target.append("<option value='" + val.id + "'>" + val.val + "</option>");
                    })
                }
            }
        });
    }
    function s2(id) {
        $.ajax({
            type: 'post',
            url: '/Sale/Get?t=2&i=' + id,
            data: { t: 1, i: id },
            error: function () {
                alert('error');
            },
            success: function (result) {
                var target = $("#sid");
                target.empty();
                target.append('<option value="0">请选择</option>');
                if (result.length > 0) {
                    $.each(result, function (key, val) {
                        target.append("<option value='" + val.id + "'>" + val.val + "</option>");
                    })
                }
            }
        });
    }
</script>
