
@{
    ViewBag.Title = "EditView";
}

<div class="pageContent">
    <form method="post" action="@Url.Content("~/GZH/Edit")" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
        <div class="pageFormContent" layoutH="56">
            <p>
                <label>公号名称：</label>
                <input name="name" class="required" type="text" size="30" minlength="1" maxlength="200" />
            </p>
            <p>
                <label>关联微信号：</label>
                <input name="wxin" class="required" type="text" size="30" minlength="1" maxlength="200" />
            </p>
        </div>
        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div>
                </li>
                <li>
                    <div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
                </li>
            </ul>
        </div>
    </form>
</div>

