
@{
    ViewBag.Title = "修改密码";
}
<h2 class="contentTitle">表单验证</h2>


<div class="pageContent">

    <form method="post" action="@Url.Content("~/Home/PasswordUpdate")" class="pageForm required-validate" onsubmit="return validateCallback(this)">
        <div class="pageFormContent nowrap" layoutH="97">

            <dl>
                <dt>旧密码：</dt>
                <dd>
                    <input id="pwd1" type="password" name="pwd1" class="required" minlength="6" maxlength="20"/>
                    @*<span class="info">class="required alphanumeric" minlength="6" maxlength="20"</span>*@
                </dd>
            </dl>
            <dl>
                <dt>新密码：</dt>
                <dd>
                    <input id="pwd2" type="password" name="pwd2" class="required" minlength="6" maxlength="20"/>
                    @*<span class="info">class="required alphanumeric" minlength="6" maxlength="20"</span>*@
                </dd>
            </dl>
            <dl>
                <dt>确认密码：</dt>
                <dd>
                    <input id="pwd3" type="password" name="pwd3" class="required" equalto="#pwd2" />
                    @*<span class="info">class="required" equalto="#xxxId"</span>*@
                </dd>
            </dl>

        </div>
        <div class="formBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
                <li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
            </ul>
        </div>
    </form>

</div>


<script type="text/javascript">
function customvalidXxx(element){
	if ($(element).val() == "xxx") return false;
	return true;
}
</script>


